/* Fonts */
/* font-family: 'Alice', serif;
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Quattrocento', serif; */
/* Fonts */
/* Variables */
:root {
  --white: #fff;
  --black: #000;
  --primarybg: #f5fefd;
  --primary: #ae6f3f;
  --primarydark: #2b3231;
  --primarylight: #ffb47b;
}

/* Variables */

/* Common CSS */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primarybg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.2s all ease;
}

button {
  outline: none !important;
  border: none;
  background-color: transparent;
  transition: 0.2s all ease;
}

::selection {
  background-color: var(--primary);
  color: var(--white);
}

._section_padding {
  padding: 60px 0;
  overflow: hidden;
}

._section_subtitle {
  text-transform: uppercase;
  color: var(--primarydark);
  font-size: 16px;
  font-family: "Quattrocento";
  letter-spacing: 1.2px;
  margin: 0 0 8px;
}

._section_title {
  color: var(--primarydark);
  font-size: 32px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  font-weight: 600;
}

._section_title_wrap {
  margin-bottom: 2rem;
  text-align: center;
}

/* Header */
/* Navbar */
._hotel_nav_wrapper {
  background-color: var(--black) !important;
  padding: 10px 0;
}

._nav_logo_a {
  font-family: "Quattrocento", serif;
  font-weight: 800;
  font-size: 2rem;
  color: var(--white) !important;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 8px;
}

._nav_logo_img {
  height: 48px;

  object-fit: contain;
}

._nav_btn_wrap {
  display: none;
}

._navbar_toggler {
  box-shadow: none !important;
  color: var(--white);
}

._nav_ul {
  gap: 0 12px;
}

._nav_li_a {
  color: var(--white) !important;
  transition: color 0.3s;
  /* font-family: "lato"; */
  font-family: "Alice", serif;
  letter-spacing: 1px;
}

._nav_li_a._active {
  color: var(--primarylight) !important;
}

/* ._nav_li_a:hover,
._nav_li_a._active {
  color: var(--primarylight) !important;
} */

._nav_li_a:hover {
  color: var(--primarylight) !important;
}

/* Navbar */
.event_header_wrapper {
  padding: 0px 0 40px;
}

.event_header_wrap {
  height: calc(100vh - 96px);
  padding: 0px 0 60px;
  position: relative;
}

._header_img {
  height: calc(100vh - 96px);
  object-fit: cover;
  transition: 1s all ease;
}

.event_header_slider .carousel-caption {
  top: 55%;
  transform: translate(0%, -50%);
}

.event_header_slider .carousel-caption h5 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 6px;
  opacity: 0;
  visibility: hidden;
}

.event_header_slider .carousel-caption h4 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 6px;
  opacity: 0;
  visibility: hidden;
  margin: 0 0 18px;
}

.carousel-item {
  overflow: hidden;
}

.carousel-item.active .carousel-caption h5 {
  animation: slideUp 1.2s ease-in-out forwards;
}

.carousel-item.active .carousel-caption h4 {
  animation: slideUp 1.2s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translate(0, 100px);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translate(0, 0px);
    opacity: 1;
    visibility: visible;
  }
}

.carousel-item .event_header_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(71.04% 70.3% at 50% 50%, rgba(175, 138, 109, 0.11) 0%, rgba(38, 34, 30, 0.63) 99.99%, #534E4B 100%) */
  background: rgb(0 0 0/30%);
}

.event_header_slider .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid transparent;
}

.event_header_slider .carousel-indicators .active {
  width: 14px;
  height: 14px;
  background-color: var(--primary);
  border-color: var(--primarybg);
}

.event_header_slider .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 50%;
  left: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
  transform: translate(0%, -50%) rotate(90deg);
  align-items: center;
}

._primary_btn {
  padding: 14px 32px;
  border: 1px solid var(--primarydark);
  font-family: "Alice", serif;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  color: var(--primarydark);
  z-index: 2;
  position: relative;
  transition: 0.2s all ease;
}

._primary_btn:hover {
  color: var(--white);
}

.event_header_btn {
  border: 1px solid var(--primarybg);
  color: var(--primarybg);
}

._primary_btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background-color: var(--primarydark);
  z-index: -1;
  transition: 0.2s all cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

._primary_btn:hover::before {
  height: 100%;
}

.event_header_btn {
  margin: 48px 0 24px;
}

.event_header_btn {
  opacity: 0;
  visibility: hidden;
  display: inline-block;
}

.carousel-item.active .event_header_btn {
  animation: fadeIn 0.5s 1.2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.event_header_phone_wrap {
  position: absolute;
  left: 56px;
  transform: translate(-100%, 50px) rotate(-90deg);
  display: flex;
  align-items: center;
  gap: 0 14px;
}

.event_header_phone {
  animation: pulse 1s ease forwards infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.event_header_phone svg {
  width: 32px;
  height: 32px;
  color: var(--primary);
}

.event_header_phone {
  background-color: var(--primarydark);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 12px 0;
}

.event_header_phone_number_txt {
  color: var(--primarybg) !important;
  font-size: 24px;
  font-weight: 400;
  font-family: "Alice", serif;
  letter-spacing: 1.2px;
  margin: -15px 0 0;
}

.event_header_hero {
  background: linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
    url(../images/hotel2.jpeg);
  height: 60vh;
  background-position: center;
  background-size: cover;
}

.event_header_hero_in {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event_header_hero_title {
  font-size: 60px;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 4px;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
}

/* Header */

/* About */
.event_about_content_ic_ul {
  display: flex;
  align-items: center;
  gap: 0 4px;
  margin: 0 0 14px;
}

.event_about_content {
  padding: 0 50px 0 0;
}

.event_about_content_ic svg {
  fill: #e4a853;
  width: 20px;
}

.event_about_content_sub {
  text-transform: uppercase;
  color: var(--primarydark);
  font-size: 16px;
  font-family: "Quattrocento";
  letter-spacing: 1.2px;
  margin: 0 0 12px;
}

.event_about_content_title {
  color: var(--primarydark);
  font-size: 32px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.2px;
  margin: 0 0 14px;
}

.event_about_content_txt_p {
  color: var(--primarydark);
  font-size: 16px;
  font-family: "lato";
  letter-spacing: 1px;
  margin: 0 0 30px;
}

.event_about_content_img {
  height: 340px;
  object-fit: cover;
}

.event_about_content_img1 {
  margin: 60px 0 0;
}

/* About */

/* Hotel Rooms  */
._hotel_rooms_box {
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
}

._hotel_rooms_box_img > img {
  width: 100%;
  height: 390px;
  transition: filter 0.3s;
  object-fit: cover;
}

._hotel_rooms_box_img {
  overflow: hidden;
  position: relative;
}

._hotel_rooms_box_content {
  padding: 30px;
  background: linear-gradient(
    to bottom,
    transparent 0,
    rgba(0, 0, 0, 0.01) 2%,
    rgba(0, 0, 0, 0.75) 90%
  );
  background: -moz-linear-gradient(
    top,
    transparent 0,
    rgba(0, 0, 0, 0.1) 2%,
    rgba(0, 0, 0, 0.75) 90%
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  transition: 0.3s;
}

._hotel_rooms_box_bk {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

._hotel_rooms_box_bk_btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  background: var(--white);
  color: var(--primarydark);
  border: 1px solid var(--white);
  padding: 4px 12px;
  border-radius: 50px;
  transition: 0.3s;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

._hotel_rooms_box_bk_btn:hover {
  color: var(--primary);
}

._hotel_rooms_box_price {
  font-family: "Quattrocento";
  display: inline-block;
}

._hotel_rooms_box_price_discount,
._hotel_rooms_box_original_price h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--white);
}

._hotel_rooms_box_price_main {
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
  color: var(--white);
}

._hotel_rooms_box_price_badge {
  position: absolute;
  background: rgb(68, 185, 99);
  background: linear-gradient(
    90deg,
    rgba(68, 185, 99, 1) 0%,
    rgba(8, 145, 14, 1) 100%
  );
  /* background: linear-gradient(90deg, rgb(255 0 0) 0%, rgb(181 58 58) 100%); */
  color: var(--white);
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  padding: 4px 8px;
  border-radius: 100px;
  text-align: center;
  line-height: 1.6;
  top: -4px;
  right: -70px;
}

._hotel_rooms_box_cat {
  color: var(--white);
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 16px;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}

._hotel_rooms_box_line {
  border-top: 1px solid var(--white);
  width: 15%;
  margin-bottom: 12px;
  transition: width 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  opacity: 0.75;
}

._hotel_rooms_box_icons {
  display: flex;
  color: var(--white);
  gap: 14px;
}

._hotel_rooms_box_icons > li {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

._hotel_rooms_box_details_btn {
  font-size: 16px;
  color: var(--white);
  letter-spacing: 1px;
  transition: 0.3s;
  font-family: "Quattrocento";
}

._hotel_rooms_box_details_btn:hover {
  color: #ffb47b;
}

._hotel_rooms_box:hover ._hotel_rooms_box_img > img {
  filter: brightness(0.7);
}

._hotel_rooms_box:hover ._hotel_rooms_box_line {
  width: 100%;
}

._hotel_rooms_box:hover ._hotel_rooms_box_content {
  bottom: 0;
}

/* End Hotel Rooms  */

/* Room Details Page  */
._room_dtls ._section_title_wrap {
  margin-bottom: 32px;
  text-align: left;
}

._room_dtls_book ._primary_btn {
  padding: 8px 20px;
  border-radius: 100px;
  margin-bottom: 32px;
  overflow: hidden;
  background: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

._room_dtls_book ._primary_btn:hover::before {
  background-color: #7e4113;
}

._room_dtls_price_main {
  color: var(--primary);
  font-size: 32px;
  font-family: "Quattrocento";
  letter-spacing: 1.2px;
  text-transform: capitalize;
  font-weight: 600;
}

._room_dtls_para {
  font-size: 16px;
  line-height: 1.75;
  color: var(--primarydark);
  margin-bottom: 22px;
  font-family: "lato";
  letter-spacing: 0.25px;
}

._room_dtls_title {
  font-size: 24px;
  font-weight: 700;
  color: var(--primarydark);
  margin-bottom: 10px;
  font-family: "Playfair Display";
  letter-spacing: 1px;
}

._room_dtls_price_wrap {
  margin-left: 60px;
}

._room_dtls_right_list {
  background: #fffaf6;
  padding: 30px;
  border-radius: 8px;
}

._room_detls_right ._room_dtls_title {
  margin-bottom: 28px;
  text-align: center;
}

._room_dtls_right_list > li {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "lato";
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--primarydark);
  letter-spacing: 0.5px;
}

._room_dtls_gellery_img {
  height: 278px;
  overflow: hidden;
}

._room_dtls_gellery_img > a {
  height: 100%;
}

._room_dtls_gellery_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

._room_dtls ._hotel_rooms_box_price_badge {
  left: -66px;
  right: unset;
}

/* End Room Details Page  */

/* Hotel Facilities  */
.event_facilities {
  /* padding: 50px 30px; */
  margin-bottom: 24px;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 4px;
  transition: box-shadow 0.3s ease-in-out !important;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}

.event_facilities:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.event_facilities > img {
  /* font-size: 50px; */
  width: 100%;
  height: 50%;
  color: var(--primary);
  margin-bottom: 20px;
  display: inline-flex;
}

.event_facilities_img_shape {
  position: absolute;
  font-size: 200px;
  color: var(--primary);
  right: -50px;
  bottom: -85px;
  opacity: 0.03;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.event_facilities:hover .event_facilities_img_shape {
  opacity: 0.05;
}

.event_facilities_title {
  font-size: 24px;
  margin-bottom: 12px;
  font-family: "Quattrocento", serif;
  color: var(--primarydark);
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.3;
}

.event_facilities_desc {
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  font-family: "lato";
  color: var(--primarydark);
  letter-spacing: 0.25px;
  font-weight: 400;
}

/* End Hotel Facilities  */

/* Home Gallery  */
.event_gallery_img {
  height: 278px;
  overflow: hidden;
  background-color: var(--primary);
}

.event_gallery_img > a {
  height: 100%;
  display: block;
}

.event_gallery_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.event_gallery_img:hover img {
  scale: 1.1;
}
/* End Home Gallery  */

/* Testimonials */
._testimonials {
  background: linear-gradient(0deg, rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)),
    url(../facilities/light2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 150px !important;
  overflow: hidden;
}

._testimonials_subtitle {
  color: var(--white);
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-family: "Quattrocento";
}

._testimonials_title {
  font-size: 32px;
  color: var(--white);
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: var(--white);
}

._testimonials_line {
  display: inline-block;
  width: 60px;
  border-top: 1px solid #acacac;
  margin-bottom: 10px;
}

._testimonials_item_desc {
  font-size: 16px;
  font-family: "lato";
  color: var(--white);
  margin-bottom: 24px;
  line-height: 1.75;
}

._testimonials_item_auth {
  display: flex;
  gap: 20px;
}

._testimonials_item_auth_img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

._testimonials_item_auth_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

._testimonials_item_auth_name {
  font-size: 16px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Quattrocento", serif;
}

._testimonials_item_auth_ocp {
  color: var(--white);
  font-size: 12px;
  font-family: "Alice", serif;
  letter-spacing: 1.5px;
}

._testimonials_item_ic_ul {
  display: flex;
  align-items: center;
  gap: 0 4px;
  margin: 0 0 4px;
}

._testimonials_item_ic svg {
  fill: #e4a853;
  width: 14px;
}

._testimonials .carousel-indicators {
  position: absolute;
  bottom: -76px;
}

._testimonials .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid transparent;
}

._testimonials .carousel-indicators button.active {
  background-color: palevioletred;
  border-color: var(--primarybg);
}

._testimonials_item {
  position: relative;
}

.__testimonials_quote_icon {
  position: absolute;
  width: 84px;
  right: 24px;
  bottom: 0;
  opacity: 0.2;
}

/* End Testimonials */

/* Features */
._feature_single_content {
  background: #f8f5f0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

._features_single_info {
  font-size: 14px;
  font-family: "Alice", serif;
  letter-spacing: 2px;
  color: #666;
  margin-bottom: 8px;
}

._feature_single_title {
  font-size: 32px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  margin-bottom: 16px;
  color: var(--primarydark);
  letter-spacing: 1.2px;
}

._features_single_text {
  color: #666;
  line-height: 1.75;
  margin-bottom: 24px;
  font-family: "lato";
}

._feature_single_content ._primary_btn {
  font-size: 18px;
  padding: 10px 24px;
}

._features_img {
  overflow: hidden;
  position: relative;
  height: 100%;
}

._features_img img {
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

._features_img:hover img {
  transform: scale(1.1);
}

/* End Features */

/* Contact  */
._contact {
  background: linear-gradient(0deg, rgb(0 0 0 / 70%), rgb(0 0 0 / 72%)),
    url(../images/hotel2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  overflow: hidden;
}

._contact_title {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

._contact_desc {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  width: 80%;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: "lato";
}

._contact_reservations {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0 20px;
}

._contact_reservations_icon {
  font-size: 40px;
  display: inline-flex;
}

._contact_reservations_text > p {
  font-family: "lato";
}

._contact_reservations_text > a {
  font-size: 26px;
  color: var(--white);
  letter-spacing: 1px;
  font-family: "Alice", serif;
}

._contact_form_wrap {
  background: var(--white);
  padding: 40px;
  position: relative;
  bottom: -112px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

._contact_form_input {
  background: var(--white);
  padding: 10px 18px 10px 0;
  border-width: 0 0 1px;
  border-bottom: 1px solid #e8d2c2;
  font-size: 15px;
  color: var(--primarydark);
  border-radius: 0;
  font-family: "lato";
}

._contact_form_input:hover {
  border-color: var(--primary);
}

._contact_form_input:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--primary);
}

._contact_form_input::placeholder {
  transition: all 0.3s;
}

._contact_form_input:focus::placeholder {
  opacity: 0;
  transform: translateY(-16px);
}

._contact_form_submit_btn {
  padding: 14px 24px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

._contact_form_submit_btn:hover {
  color: var(--white);
}

._contact_map iframe {
  width: 100%;
  height: 380px;
}

._contact_page_map iframe {
  height: 80vh;
}

/* End Contact  */

/* Footer */
._footer_wrapper {
  padding: 100px 0 30px 0;
  /* background-image: linear-gradient(to bottom right, #ff61d2, #fe9090); */
  background-image: linear-gradient(to bottom right, #ff3e9d, #0e1f40);

  /* background: linear-gradient(to bottom, #ff3e9d, #0e1f40); */
  /* color: #fff; */
}

._footer_wrapper hr {
  margin-top: 40px;
}

._footer_col {
  margin-bottom: 30px;
}

._footer_logo {
  color: var(--white);
  display: block;
  margin-bottom: 8px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

._footer_logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

._footer_logo > span {
  font-size: 32px;
  font-weight: bold;
}

._footer_title {
  font-size: 24px;

  color: var(--white);
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}
._footer_about_text {
  font-size: 15px;
  line-height: 1.6;
  font-family: "lato";
}

._footer_explore_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

._footer_explore_list_item {
  margin-bottom: 6px;
}

._footer_explore_list_link {
  color: var(--white);
  display: inline-block;
  font-family: "lato";
}
._footer_explore_list_link::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: white;
  display: block;
  transition: 0.5s ease-in-out;
}

._footer_explore_list_link:hover::after {
  /* color: var(--primary); */

  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
}

._footer_contact_adrs {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 16px;
  font-style: italic;
  font-family: "lato";
}

._footer_contact_adrs svg {
  font-size: 22px;
  margin-right: 4px;
}

._footer_contact_phone {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
  color: var(--white);
}

._footer_contact_phone {
  font-size: 26px;
  font-family: "Alice", serif;
}

._footer_contact_mail {
  color: var(--white);
  line-height: 32px;
  position: relative;
  display: inline-block;
  font-family: "lato";
}

._footer_contact_mail::before {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--primary);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

._footer_contact_mail:hover {
  color: var(--primary);
}

._footer_contact_socials {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}

._footer_contact_socials_item {
  color: var(--white);
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 1px solid var(--primarybg);
}

._footer_contact_socials_item svg {
  width: 18px;
  height: 18px;
}

._footer_contact_socials_item:hover {
  background: var(--primarybg);
  color: var(--primary);
}

._footer_contact_socials_icon {
  display: flex;
}

._footer_copyright {
  padding-top: 12px;
}

._footer_copyright_text {
  color: var(--white);
  font-family: "lato";
}

._footer_copyright_text a {
  color: #2b77f2;
}

._footer_copyright_text a:hover {
  text-decoration: underline;
}

/* End Footer */

/* Offer text  */
._show_offer_counter_box {
  background: var(--primary);
  color: var(--white);
  border-radius: 4px;
}

._show_offer_counter_box > p {
  padding-top: 8px;
}

._hotel_offer_counter {
  margin-bottom: 38px;
  text-align: center;
  color: var(--white);
  font-family: "Quattrocento";
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2rem;
  padding-bottom: 8px;
}

/*End  Offer text  */

/* preloader  */
._preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

._preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  /* border: 4px solid var(--primary); */
  border: 4px solid red;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* end preloader  */

/* Responsive */
@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
  ._nav_logo_a {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  ._hotel_nav_wrapper {
    padding: 15px 0;
  }

  ._nav_btn_wrap {
    display: block;
  }

  ._contact_title {
    font-size: 36px;
  }

  ._footer_logo {
    width: 100px;
    height: 100px;
  }

  .event_about_content {
    padding: 0 0 0 0;
  }
}

@media (max-width: 767px) {
  /* Disable aos delay in mobile device */
  [data-aos-delay] {
    transition-delay: 0 !important;
  }

  .event_header_slider .carousel-caption h5 {
    font-size: 30px;
    letter-spacing: 2px;
  }

  .event_header_slider .carousel-caption h4 {
    font-size: 14px;
    letter-spacing: 2px;
  }

  .event_header_btn {
    padding: 12px 24px;
    font-size: 18px;
  }

  ._section_padding {
    padding: 60px 0;
  }

  ._nav_logo_img {
    height: 32px;
  }

  ._nav_btn_contact {
    display: none;
  }

  .event_header_hero_title {
    font-size: 36px;
  }

  ._contact {
    padding-top: 60px;
  }

  ._contact_desc {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
}

@media (max-width: 420px) {
}

@media (max-width: 375px) {
}

/*End Responsive */

/* contact form */

.connect {
  background-color: #f5e0e5 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-form-wrapper {
  padding: 100px 0;
}

.contact-form {
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 400px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #f33fb0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #f23292;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #d30069;
}
